.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



/* .tracker-header {
  background-color: aliceblue;
  padding: 2px !important;
} */

/* .tracker-header .toggle {
  padding-top:4px;
} */

/* .tracker-header h3 {
  padding-top:3px;
} */

.details-accordion {
  -webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
  box-shadow: none !important;
  
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.details-accordion-title {
  margin: 0 auto;
  width: 100px;
  border:1px solid lightgrey;
  /* -webkit-box-shadow: 0 1px 2px #333; */
	/* -moz-box-shadow: 0 1px 2px #333; */
	/* box-shadow: 0 1px 2px #333; */
}

.ui.grid > .row {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}

.trackers-container {
  margin: 0 auto !important;
  width: 900px;
}



.headerDivider {
  border-left:1px solid #38546d; 
  /* border-right:0px solid #16222c;  */
  height:80px;
  position:absolute;
  /* right:249px; */
  top:10px; 
}

.react-datepicker__time-list {
  padding-left: 0px !important;
}