/*Not working */
.tracker-summary-segment {
    padding-left:0px;
    padding-right:0px;
}

.table .wide {
    margin:0px !important;
    padding: 0px !important;
}

.graph .label {
    width: 100%;
}

.graph .circular.label {
    width:10px;
}

.graph .progress {
    margin:0px !important;
    padding: 0px !important;
}

.graph .column {
    padding-top:0px !important;
    padding-right:0px !important;
    padding-left:0px !important;
}

.graph .priority-column {
    width:15px !important;
}