.row div {
  float: left;
}

.input-row input{
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.numeric-input {
  width: 40px;
  border-right-color: rgba(34, 36, 38, 0.15) !important;
}

.numeric-input button {
  height: 20px !important;
  padding: 0px 0px 0px 9px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.numeric-input .button-top {
  border-bottom-right-radius: 0px !important;
}

.numeric-input .button-bottom {
  border-top-right-radius: 0px !important;
}